[Unit]
Description=Affichage now playing Eversolo DMP-A6
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=%i
Environment=SDL_VIDEODRIVER=kmsdrm
ExecStart=/home/%i/eversolo-screen/venv/bin/python /home/%i/eversolo-screen/eversolo_screen.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
